.info-user__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-input {
    width: 100%;
    padding: 14px 27px;
    border: 2px solid #B8ECA0;
    color: #56A033;
    border-radius: 26px;
    font-size: 16px;
    font-weight: 500;
}


.page-profile {
    background: #fff;
    border: 1px solid transparent;
    border-radius: 24px;
    padding: 40px;
    /* display: flex; */
    width: 1200px;
    margin-top: 60px;
}

.profile-person {
    display: flex;
    justify-content: space-between;
    min-width: 100%;
}

.profile-person__info {
    display: flex;
    align-items: center;
}

.profile-person__info-img {
    width: 100px;
    height: 100px;
    align-content: center;
    display: flex;
    align-items: center;
}


.info-person-img {
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.info-user {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 28px;
}

.user-role,
.user-username {
    font-size: 24px;
    font-weight: 600;
    color: #656565;
    margin-bottom: 18px;
}

.user-email {
    font-size: 20px;
    font-weight: 600;
    color: #A7A7A7;
}

.update-user {
    align-content: center;
}

.update-user-btn {
    border: 1px solid #B8ECA0;
    border-radius: 24px;
    background: #B8ECA0;
    color: #56A033;
    padding: 16px 33px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}

.cancel-update-btn {
    border: transparent;
    background: #fff;
    color: #656565;
    font-size: 16px;
    font-weight: 600;
    margin-right: 38px;
    cursor: pointer;
}

.info-user__photo {
    border: 1px solid #A7A7A7;
    border-radius: 22px;
    width: 629px;
    padding: 12px 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.info-p {
    font-size: 24px;
    font-weight: 600;
    color: #656565;
    margin-bottom: 17px;
}

.info-insert {
    margin-left: 38px;
    width: 100%;
}

.info-input-url {
    border: 1px solid #B8ECA0;
    border-radius: 26px;
    padding: 16px;
    color: #56A033;
    width: 100%;
}

.info-input-url :focus {
    border: 1px solid #56A033;
}

.info-user__btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}










.gender-display {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    height: 52px;
    border: 2px solid #b8eca0;
    border-radius: 26px;
    padding: 4px;
    background-color: #fff;
    overflow: hidden;
}

.gender-display::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #56a033;
    border-radius: 26px;
    z-index: 0;
    transition: transform 0.3s ease-in-out;
    transform: translateX(0);
}

.gender-display--female::before {
    transform: translateX(100%);
}

.gender-display__option {
    flex: 1;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    padding: 15px 0;
    z-index: 1;
    position: relative;
    background: transparent;
    cursor: default;
    color: #56a033;
    transition: color 0.3s ease-in-out;
}

.gender-display__option--selected {
    color: white;
}
















.separation-line {
    margin-top: 40px;
    margin-bottom: 30px;
    width: 100%;
    padding: 0;
    height: 0;
    border: none;
    border-top: 1px solid #C4C4C4;
}


.general-personal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 32px;
}

.personal-info {
    margin-top: 28px;
}

.personal-idnf,
.address-personal {
    margin-top: 28px;
    margin-bottom: 14px;
    font-size: 16px;
    font-weight: 500;
    color: #999393;
}

.change-pass-fake-btn {
    width: 100%;
    background: #B8ECA0;
    border-radius: 26px;
    color: #56A033;
    cursor: not-allowed;
    font-size: 16px;
    font-weight: 600;
    padding: 16px 27px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}


.gen-info,
.account-info,
.password-change,
.delivery-address,
.payment-method {
    border: 1px solid #C4C4C4;
    border-radius: 24px;
    padding: 28px;
    margin-bottom: 28px;
}

.delivery-address-img,
.payment-img {
    width: 52px;
    height: 52px;
}

.password-btn {
    width: 100%;
}

.change-password-btn {
    width: 100%;
    border: transparent;
    cursor: pointer;
    background: #B8ECA0;
    border-radius: 26px;
    color: #56A033;
    font-size: 16px;
    font-weight: 600;
    padding: 16px 27px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    border: transparent;
}

.password-list {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    gap: 32px;
    margin-top: 28px;
}





.password-list {
    /* max-height: 0; */
    overflow: hidden;
    transition: 0.3s ease, opacity 0.3s ease;
    opacity: 0;
}

.password-list.visible {
    height: 100%;
    opacity: 1;
}

.change-password {
    transition: transform 0.3s ease;
}

.change-password.rotated {
    transform: rotate(90deg);
}







.gen-info__general,
.account-info__general,
.password-change__general,
.delivery-address__general,
.payment-method__general {
    display: flex;
    align-items: center;
}

.gen-info__general img,
.account-info__general img,
.password-change__general img,
.delivery-address__general img,
.payment-method__general img {
    /* height: 27px;
    width: 27px; */
    padding: 11px;
    background: #B8ECA0;
    color: #56A033;
    border: 1px solid transparent;
    border-radius: 10px;
}

.gen-info__general p,
.account-info__general p,
.password-change__general p,
.delivery-address__general p,
.payment-method__general p {
    font-size: 16px;
    font-weight: 500;
    color: #999393;
    margin-left: 12px;
}




.gen-info__initial {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 28px;
    gap: 32px;
}

.personal-data {
    margin-bottom: 14px;
}

.initial__first-name,
.initial__last-name,
.initial__birthday {
    font-size: 16px;
    font-weight: 500;
    color: #999393;
    width: 100%;
}

.first-name-input,
.address-input {
    width: 100%;
    background: #B8ECA0;
    color: #020202;
    font-size: 20px;
    font-weight: 500;
    padding: 14px 27px;
    border: 1px solid transparent;
    border-radius: 24px;
}

.profile__gender-choice {
    width: 333px;
}

.gender-title {
    margin-top: 35px;
    margin-bottom: 14px;
    font-size: 16px;
    font-weight: 500;
    color: #999393;
}

.general-delivery__address {
    display: flex;
    align-items: center;
    align-content: center;
    /* justify-content: space-between; */
    gap: 32px;
    border: transparent;
    width: 100%;
}

.address-input-edit {
    width: 100%;
    padding: 14px 27px;
    border: 2px solid #B8ECA0;
    color: #56A033;
    border-radius: 26px;
    font-size: 16px;
    font-weight: 500;
}

.address-input-edit :focus {
    border: 2px solid #B8ECA0;
    outline: none;
}

.address-change-btn {
    width: 484px;
    background: #B8ECA0;
    border: 1px solid #B8ECA0;
    border-radius: 26px;
    color: #56A033;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    padding: 17px 27px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.change-address-fake-btn {
    width: 484px;
    background: #B8ECA0;
    border-radius: 26px;
    color: #56A033;
    cursor: not-allowed;
    font-size: 16px;
    font-weight: 600;
    padding: 17px 27px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}

.initial__personal {
    width: 100%;
}

.payment-method__title {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    width: 100%;
    gap: 32px;
}

.title__first,
.title__second,
.title__btn {
    margin-top: 38px;
}

.title__first {
    border-radius: 16px;
    border: 1px solid #B8ECA0;
    color: #56A033;
    font-size: 16px;
    font-weight: 500;
    padding: 16px;
    width: 100%;
}

.title__second {
    border-radius: 16px;
    border: 1px solid #A7A7A7;
    color: #A7A7A7;
    font-size: 16px;
    font-weight: 500;
    padding: 16px;
    width: 100%;
}

.first-payment,
.second-payment {
    margin-bottom: 30px;
    width: 100%;
}

.title__btn {
    width: 100%;
    cursor: not-allowed;
}

.change-payment-fake-btn {
    padding: 43px 20px;
    background-color: #B8ECA0;
    color: #56A033;
    font-size: 16px;
    font-weight: 600;
    border-radius: 16px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    /* width: 100%; */
}