*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column; 
}


body {
    font-family: "Montserrat", sans-serif;
    background-color: #F8F8F8;
    font-weight: 600;
    font-style: normal;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column; 
}

main{
    display: flex;
    flex: 1;
}

a {
    text-decoration: none;
    color: inherit;
}


ul {
    list-style: none;
}


.wrapper {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px; 
}


.bg-white {
    background-color: #fff;
}


.bg-gray {
    background-color: #F8F8F8;
}
