/* .modal-profile {
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 22px;
}

.modal-profile__info {
    display: flex;
    align-items: center;
    align-content: center;
    padding: 25px;
}

.info-img {
    border: 1px solid transparent;
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.info-initial {
    margin-left: 25px;
}

.initial-username {
    font-size: 24px;
    font-weight: 600;
    color: #656565;
    margin-bottom: 10px;
}

.initial-email {
    font-size: 20px;
    font-weight: 500;
    color: #A7A7A7;
}

.logout-btn {
    border: 1px solid #E84747;
    border-radius: 16px;
    cursor: pointer;
    background: transparent;
    color: #E84747;

    padding: 8px 13px;
    margin-left: 50px;
}

.personal-account {
    border: 1px solid transparent;
    border-radius: 22px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    background: #B8ECA0;
    color: #56A033;
    padding: 10px 45px;
    margin-left: 90px;
    margin-bottom: 25px;
} */







.modal-backdrop {
    position: fixed;
    top: 89px;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 0.5); */
    z-index: 999;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 20px;
}


.modal-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    position: relative;
    background-color: #fff;
    /* border: 1px solid #ddd; */
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 100%;
    z-index: 1000;
}


.modal-profile__info {
    display: flex;
    align-items: center;
    gap: 15px;
}


.info-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #ddd;
}


.info-initial {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-right: 28px;
}

.initial-username {
    font-size: 18px;
    font-weight: 600;
    color: #333;
}

.initial-email {
    font-size: 14px;
    font-weight: 500;
    color: #777;
}

/* Кнопка выхода */
.logout-btn {
    margin-top: 15px;
    padding: 8px 16px;
    background-color: #fff;
    color: #E84747;
    border: 1px solid #E84747;
    border-radius: 22px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}

.logout-btn:hover {
    background-color: #E84747;
    color: #fff;
    transition: all 0.3s ease-out;
}

/* Кнопка закрытия */
.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #fff;
    border: none;
    color: #888;
    font-size: 18px;
    cursor: pointer;
}

.close-modal:hover {
    color: #555;
}