/* .search-list-input {
    flex-grow: 1;
    border: none;
    font-size: 16px;
    font-weight: 400;
    color: #020202;
    padding: 8px 12px;
    border-radius: 22px;
    outline: none;
    width: 100%;
}

.search-list-input::placeholder {
    color: #A7A7A7;
} */