html, body {
    height: 100%; /* Убедитесь, что body занимает весь экран */
    margin: 0; /* Убираем отступы по умолчанию */
}

.App {
    display: flex;
    flex-direction: column; /* Выстраиваем элементы в колонку */
    min-height: 100vh; /* Делает минимальную высоту 100% высоты экрана */
}